.btnsBuilding{
  display: none;
  position: absolute;
  text-align: center;
  width: 100%;
  /* bottom: 14px; */
  bottom: 5%;
}

.btnArrow{
  width: 28px;
  /* margin-bottom: 10px; */
  margin-bottom: 1%;
  transform: rotate(0deg);
}

.threeBtns{
  font-size: 0;
}

.btn1{
  margin-left: : 0px auto;
  width: 74px;
}

.btn2{
  margin: 0px auto;
  width: 74px;
}

.btn3{
  margin-right: 0px auto;
  width: 74px;
}
