.aicq .head {
  position: fixed;
  z-index: 999;
  top: 0.4rem;
  left: 0;
  height: 0.77333rem;
  width: 100%;
  padding-left: 0.4rem;

}

.aicq .head .back-btn {
  height: 0.77333rem;
  width: 0.77333rem;
  border-radius: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/back.png);
}

.aicq .head .top-btns {
  margin-left: 0.29333rem;
  width: 3.54667rem;
  height: 0.77333rem;
  background-size: 100% 100%;
  background-image: url(../images/Rounded.png);
  background-repeat: no-repeat;
  align-items: center;
  padding: 0 0.13333rem;
}

.aicq .head .top-btns .top-btn {
  height: 0.45333rem;
  flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.aicq .head .top-btns .top-btn1 {
  background-image: url(../images/download.png);
}

.aicq .head .top-btns .top-btn2 {
  background-image: url(../images/card.png);
}

.aicq .head .top-btns .top-btn3 {
  background-image: url(../images/share.png);
}
