@import "./tool";
 
.wechat{
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      background-size: 100% 100%;
      background-image: url(../images/BG.png);
      background-position: 0 0;
      background-repeat: no-repeat;
    .wechat-content{
          margin-top: pxTorem(87px);
          margin-right: pxTorem(54px);
            height: pxTorem(532px);
            width: pxTorem(486px);
            float: right;
            background-size: contain;
            background-image: url(../images/Safari.png);
            background-position: 0 0;
            background-repeat: no-repeat;
    }
    .share-text{
      font-size: pxTorem(38px);
      text-align: center;
      margin-top: pxTorem(115px);
    }
}
